.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pyro {
  color: #bf2818;
  font-weight: bold;
}

.hydro {
  color: #0b4dda;
  font-weight: bold;
}

.cryo {
  color: #4878a8;
  font-weight: bold;
}

.electro {
  color: #9336b0;
  font-weight: bold;
}

.anemo {
  color: #26a684;
  font-weight: bold;
}

.geo {
  color: #B68D07;
  font-weight: bold;
}

.dendro {
  color: #51810E;
  font-weight: bold;
}

.omni {
  color: black;
  font-weight: bold;
}

html, body, #root {
  height: 99%;
}

body {
  font-family: monospace;
}

#main-container {
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
  height: 100%;
}

#left-panel {
  border-right:  1px solid black;
  width: 300px;
}

#right-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#top-field {
  border-bottom:  1px solid black;
  flex-grow: 1;
  position: relative;
}

#bottom-field {
  flex-grow: 1;
  position: relative;
}

#dice-1 {
  /*border: 1px solid black;*/
  right: 3%;
  top: 5%;
  width: 350px;
  height: 150px;
  position: absolute;
}

#active-char-1-skills {
  border: 1px solid black;
  right: 1%;
  bottom: 1%;
  width: 390px;
  height: 120px;
  position: absolute;
}

#active-char-1-skills-label {
  background-color: bisque;
  text-align: center;
}

#active-char-1-skills-table {
  width: 100%;
  border-collapse: collapse;
}

#active-char-1-skills-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

#active-char-1 {
  right: 50%;
  top: 5%;
}

#bench1-char-1 {
  right: 35%;
  top: 35%;
}

#bench2-char-1 {
  right: 60%;
  top: 35%;
}

.card-ui {
  /*border: 1px solid black;*/
  width: 90px;
  height: 150px;
  position: absolute;
}

#action-box-1 {
  border: 1px solid black;
  left: 3%;
  top: 5%;
  width: 90px;
  height: 120px;
  position: absolute;
}

.card {
  width: 100%
}

.char-switch-button {
  left: -50px;
  bottom: 0;
  position: absolute;
}

.card-detail-popup {
  width: 400px;
  height: 500px;
  background-color: white;
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 99;
  border: 2px solid grey;
  border-radius: 5px;
}

.card-detail-popup-table {
  border-collapse: collapse;
}

.card-detail-popup-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.bold {
  font-weight: bold;
}

.card-detail-name td {
  text-align: center;
  background-color: bisque;
}

#player1-info {
  position: absolute;
  left: 10px;
  bottom: 0;
}

#player2-info {
  position: absolute;
  left: 10px;
  top: 0;
}

.dice-roll-box {
  width: 70px;
}

.dice-roll-box.clicked {
  background-color: bisque;
}

.dialog-bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dialog-bottom-buttons button {
  margin-top: 10px;
  margin-left: 5px;
}

.dice-small {
  width: 35px;
}
